<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

     <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/nhsuk/nhsuk.css" />
    <link rel="stylesheet" href="css/nhsuk/core/all.css" />


     <script src="/js/nhsuk-9.0.1.min.js" defer></script> 
    <HeadOutlet  /> @* @rendermode="InteractiveWebAssembly" *@<!--qqqq added because layout static //qqqq added because getting static layout" -->
    <PageTitle>Page Title</PageTitle>
</head>
<body>
    <script>
        /*  we want to know if this browser has js enabled so we can assume thats the case for the whole session and tell blazor it can render js version ones rather than rerendering when it detects js */
        document.cookie = "jsEnabled=true; path=/";
    </script>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        //this one is just for nhsuk components
    </script>
    
    <Routes />@* @rendermode="InteractiveWebAssembly"  *@<!--qqqq added because layout static //qqqq added because getting static layout" -->


    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>