
<Router AppAssembly="@typeof(Program).Assembly"
    AdditionalAssemblies="new[]{typeof(_Imports).Assembly}" >
    <Found Context="routeData">
        <RouteView RouteData="@routeData"  DefaultLayout="@typeof(_LayoutBlazor)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
     <NotFound>
        <h1>Sorry, there's nothing at this address. 
        Blazor router rendered me but if you see pink its the mvc layout.
        </h1> 
    </NotFound> 
</Router>