@using System.Web

@model CharactersViewModel
@{
    ViewData["Title"] = "ViewComponentExamplePage";

}



@{

    List<RadiosItemViewModel> charactersRadios = @CharacterRadiosHelper.PrepareCharacterRadios(Model.Characters);


}


<form asp-controller="Characters_NoJS"
      asp-action="SetFavouriteCharacter"
      method="post">
    <vc:radio-list asp-for="FavouriteCharacterId"
                   label="Select a Favorite Character"
                   radios="@charactersRadios"
                   populate-with-current-values="true"
                   hint-text="Choose your favourite character from "Model.FirstCartoonOnly.Title For Now"
                   required="true" />

   
    <div class="nhsuk-form-group">
        <button type="submit" class="nhsuk-button">Save Favourite</button>
    </div>
</form>




