@using System.Web

@model CharactersViewModel
@{
    string Title = "ViewComponentExamplePage";
    ViewData["Title"] = Title;
    List<RadiosItemViewModel> charactersRadios = @CharacterRadiosHelper.PrepareCharacterRadios(Model.Characters);
}

<h1 class="mvcHosted">@Title</h1>

<form asp-controller="Characters_NoJS"
      asp-action="SetFavouriteCharacterByTopLevelForm"
      method="post">
    <vc:radio-list asp-for="FavouriteCharacterIdStr"
                   label="Select a Favourite Character"
                   radios="@charactersRadios"
                   populate-with-current-values="true"
                   hint-text="Choose your favourite character"
                   required="true" />


    <div class="nhsuk-form-group">
        <button type="submit" class="nhsuk-button">Save Favourite</button>
    </div>
</form>




