@inherits GB_ComponentBase

<div class="attendees-wrapper">
    <div class="attendees-form-container">
        <h3 style="margin:10px;text-align:center">"Model.MeetingName"</h3>
        <LHB_Attendees_AddRemoveListForm
                   UniqueId=@("9")
                   />
    </div>
</div>


<RenderModeDisplayer/> 

@* <div class="attendees-wrapper">
    <div class="attendees-form-container">
        <h3 style="margin:10px;text-align:center">"Model.CartoonName"</h3>
        <LHB_FavouriteCharacterForm
                   AspFor=@("FavouriteCharacterId")
                   Required=true
                   Action=@("Characters/NoJS/SetFavouriteCharacterByForm")
                   Label=@("EditFormLabel Here")
                   RadioListHint=@("Edit form hint here ")
                   IsPageHeading=true
                    />

    </div>
</div>
 *@