@inherits GB_ComponentBase

<div class="attendees-wrapper">
    <div class="attendees-form-container">
        <h3 style="margin:10px;text-align:center">Meeting</h3>
        <LHB_Attendees_AddRemoveListForm/>
    </div>
</div>



