@inherits GB_ComponentBase
<div class="attendees-wrapper">
    <div class="attendees-form-container">
        <h3 style="margin:10px;text-align:center">"Model.CartoonName"</h3>
        <LHB_FavouriteCharacterForm
                   Action=@("Characters/NoJS/SetFavouriteCharacterByForm")
                   Label=@("EditFormLabel Here")
                   RadioListHint=@("Edit form hint here ")
                   IsPageHeading=true
                    />

    </div>
</div>





@code
{

}
