@inherits GB_ComponentBase

<div style="background-color:palegreen; margin:30px;">
    <h3>RenderModeDisplayerComponent</h3>
    <h4> I am @WhoAmI </h4>
    <div>

      
        @if (JSIsEnabled)
        {
              <h3 style="text-align: center;">JS Enabled</h3>
        }
        else
        {
            <h3 style="text-align: center;">JS Disabled</h3>
        }
       
        <div style="border: 2px solid black; padding: 10px; margin: 10px;">
            @if (_isLoading)
            {
                <h3>Loading (+5s delay so can see it)...</h3>
            }
            else
            {
                <h3>Load Finished</h3>
            }
            <h4>Rendermode msg: @RenderModeDetected</h4>
            <noscript>
                <div style="color: red; font-weight: bold;">
                    JavaScript is disabled or not loading. Prerender content shown.
                </div>
            </noscript>
   
        </div>
     </div>
</div>

@code {
    private bool _isLoading = true;

    [Parameter]
    public string RenderModeDetected { get; set; } = "UnSet rendermode detected string";

     protected override void OnInitialized ()
    {
        if (OperatingSystem.IsBrowser())
        {
            RenderModeDetected = "WASM";
        }
        else
        {
            RenderModeDetected = "Server";
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(5000); // 5-second delay
            _isLoading = false;
            StateHasChanged();
        }
    }

   
}