@using Package.LH.BlazorComponents.Components.Pages.RenderModePages.AttendeesRenderModePages
@using Package.Shared.BlazorComponents.Components.Buttons
@using Package.Shared.BlazorComponents.Enums
@{
    string Title = "Home Page";
    ViewData["Title"] = Title;

}
<h1 class="mvcHosted">@Title</h1>
<h3>
    Pages and what they show
</h3>

<ul>
    <li>Try with a browser with no js</li>
    <li>try with one letter names and no letter names with js and without, on blazor pages and not blazor pages</li>
</ul>
<h3>Try with a browser with no js</h3>

<h3>A generic component because so far consuming them all via LH components</h3>

<component type="typeof(GB_WriteLineButton)" render-mode="ServerPrerendered"
           param-TextToPrintToConsole="@("Hello from MVC!")" 
           param-ButtonType="@(GB_ButtonType.Success)" />


<div class="markdown-content">
    @ViewBag.HtmlContent
</div>

