@using Package.Shared.Entities.Interfaces
@inherits GB_ComponentBase
@typeparam TItem

@*Not actually restricted to buttons anymore*@

<div class="list-container">
    <h2 class="text-center">@ListTitle</h2>
    <ul class="nhsuk-ul">
        @if (Items == null)
        {
            <p>List is empty</p>    
        
        }else
        {
            @foreach (var item in Items)
            {
                //qqqq should i interface with itemized? or something to say it has .id
                //Currently this is very naughty
                <li class="nhsuk-list-item" @key="@GetKey(item)">
                    <!-- Use a consistent class name -->
                    <div class="nhsuk-inline-content">
                        <span style="display: flex;margin:10px;">@GetItemText(item)</span>
                        @if (ListButton != null)
                        {
                            @ListButton(item)
                        }
                    </div>
                </li>
            }
        }
    </ul>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public required string ListTitle { get; set; }

    [EditorRequired]
    [Parameter]
    public required List<TItem> Items { get; set; } // Generic list of items

    [EditorRequired]
    [Parameter]
    public required Func<TItem, string> GetItemText { get; set; } // Delegate to format the item text

    [EditorRequired]
    [Parameter]
    public required Func<TItem, string>  GetKey { get; set; }

    [Parameter]
    public RenderFragment<TItem> ListButton { get; set; } // RenderFragment for button content


}