@page "/counter"
@rendermode InteractiveWebAssembly
@using Test.Components.Components
@* Use a layout and reflection to name all the components or give components a friendly name?? *@
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<T_Counter/>
