@inherits LayoutComponentBase

@* @rendermode InteractiveWebAssembly *@ //qqqq added because getting static layout
<header>
    <NavMenu IsMVCHosted="false" />
</header>
<div class="container">
    <main role="main" class="pb-3">
        <noscript>
            <h1 style=" text-align: center; background-color: yellow;">
                Psst your on brave JS is turned off
            </h1>
        </noscript>
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - LH.MVCBlazor.Server
    </div>
</footer>