@inherits LayoutComponentBase
@* <h1 style="background-color:@(IsMVCHosted ? "lightpink" : "lightblue")!important;">@(IsMVCHosted ? "IsMVCHosted" : "IsBlazorHosted")</h1> *@
<GB_BoolH1 Bool="IsMVCHosted" ClassStyles1="mvcHosted" Text1="MVC Hosted" ClassStyles2="blazorHosted" Text2="Blazor Hosted"/>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid" style="background-color:@(IsMVCHosted ? "lightpink" : "lightblue")!important;">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 flex-wrap">

                <!--✅❌-->

                @*Home Controller*@
                <li class="nav-item">
                    <a class="nav-link text-dark" style="border: 2px solid black" href="/">Home MVC ✅</a>@* asp-area="" asp-controller="Home" asp-action="Index" *@
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" style="border: 2px solid black" href="/IfNoJSRedirectHome">Return home if no js ✅</a>@* asp-area="" asp-controller="Home" asp-action="Index" *@
                </li>
                @*Weather Streaming Blazor Pages*@
                <li class="nav-item">
                    <a class="nav-link text-dark " style="border: 2px solid black" href="/ViewComponentMVCPage">View Component MVC ✅</a>
                </li>

                @*Attendees Controller*@
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-mvc-nav-link" href="/Attendees/Static-MVCRendered">Attendees Static MVC ✅</a> @* asp-area="" asp-controller="MeetingAttendees" asp-action="Index" *@
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-mvc-nav-link" href="/Attendees/Server-MVCRendered">Attendees Server MVC ✅</a> @* asp-area="" asp-controller="MeetingAttendees" asp-action="Index" *@
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-mvc-nav-link" href="/Attendees/ServerPrerendered-MVCRendered">Attendees ServerPrerendered MVC ✅</a> @* asp-area="" asp-controller="MeetingAttendees" asp-action="Index" *@
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dar attendee-mvc-nav-link" href="/Attendees/WebAssembly-MVCRendered">Attendees WebAssembly MVC ✅</a> @* asp-area="" asp-controller="MeetingAttendees" asp-action="Index" *@
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-mvc-nav-link" href="/Attendees/WebAssemblyPrerendered-MVCRendered">Attendees WebAssemblyPrerendered MVC ✅</a> @* asp-area="" asp-controller="MeetingAttendees" asp-action="Index" *@
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-page-mvc-nav-link" href="/Attendees/MVCRenderedBlazorPage">Attendees MVCRenderedBlazorPage MVC ✅</a> @* asp-area="" asp-controller="MeetingAttendees" asp-action="Index" *@
                </li>

                

                @*Characters Controller*@


                <li class="nav-item">
                    <a class="nav-link text-dark character-mvc-nav-link" href="/Characters/Static-MVCRendered">Characters Static MVC ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-mvc-nav-link" href="/Characters/Server-MVCRendered">Characters Server MVC ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-mvc-nav-link " href="/Characters/ServerPrerendered-MVCRendered">Characters ServerPrerendered MVC ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-mvc-nav-link" href="/Characters/WebAssembly-MVCRendered">Characters WebAssembly MVC ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-mvc-nav-link" href="/Characters/WebAssemblyPrerendered-MVCRendered">Characters WebAssemblyPrerendered MVC ✅</a>
                </li>


                @*Attendees Blazor Pages*@
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-blazor-nav-link" href="/Attendees/Static-BlazorPage">Attendees Static BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-blazor-nav-link" href="/Attendees/Server-BlazorPage">Attendees Server BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-blazor-nav-link" href="/Attendees/ServerPrerenderedFalse-BlazorPage">Attendees ServerPrerenderedFalse BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-blazor-nav-link" href="/Attendees/WebAssembly-BlazorPage">Attendees WebAssembly BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-blazor-nav-link" href="/Attendees/WebAssemblyPrerenderedFalse-BlazorPage">Attendees WebAssemblyPrerenderedFalse BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-blazor-nav-link" href="/Attendees/InteractiveAuto-BlazorPage">Attendees InteractiveAuto BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark attendee-blazor-nav-link" href="/Attendees/InteractiveAutoPrerenderedFalse-BlazorPage">Attendees InteractiveAutoPrerenderFalse BlazorPage ✅</a>
                </li>
        

                @*Characters Blazor Pages*@
                
                <li class="nav-item">
                    <a class="nav-link text-dark character-blazor-nav-link" href="/Characters/Static-BlazorPage">Characters Static BlazorPage ✅</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link text-dark character-blazor-nav-link" href="/Characters/Server-BlazorPage">Characters Server BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-blazor-nav-link" href="/Characters/ServerPrerenderedFalse-BlazorPage">Characters ServerPrerenderedFalse BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-blazor-nav-link" href="/Characters/WebAssembly-BlazorPage">Characters WebAssembly BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-blazor-nav-link" href="/Characters/WebAssemblyPrerenderedFalse-BlazorPage">Characters WebAssemblyPrerenderedFalse BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-blazor-nav-link" href="/Characters/InteractiveAuto-BlazorPage">Characters InteractiveAuto BlazorPage ✅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark character-blazor-nav-link" href="/Characters/InteractiveAutoPrerenderedFalse-BlazorPage">Characters InteractiveAutoPrerenderFalse BlazorPage ✅</a>
                </li>
                @*Weather Streaming Blazor Pages*@

                <li class="nav-item">
                    <a class="nav-link text-dark character-blazor-nav-link" href="/StreamRenderingWeather-BlazorPage">Weather Stream Rendering Page ✅</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

@code {
    [Parameter, EditorRequired]
    public bool IsMVCHosted { get; set; } = true; 
}
