
@typeparam TModel where TModel : IGB_ModelStateValidation
@inherits GB_ComponentBase
@code {
    [Parameter, EditorRequired] public TModel FormModel { get; set; }
    [Parameter, EditorRequired] public EditContext EditContext { get; set; } //, EditorRequired

    [Parameter, EditorRequired]
    public string AspFor { get; set; }


    protected override void OnInitialized()
    {
       // if (FormModel.HasModelStateValidationErrors) { EditContext.Validate(); } //qqqq hopefully this can trigger validation message even if no js, it just wont be dynamic
        // Subscribe to EditContext events to re-render the component
        EditContext.OnValidationRequested += (sender, args) => StateHasChanged();
        EditContext.OnFieldChanged += (sender, args) => StateHasChanged();
    }

    public void Dispose()
    {
        if (EditContext != null)
        {
            // Unsubscribe to avoid memory leaks
            EditContext.OnValidationRequested -= (sender, args) => StateHasChanged();
            EditContext.OnFieldChanged -= (sender, args) => StateHasChanged();
        }
    }

}

@* @if (JSIsEnabled)
{ *@
    @*  <DataAnnotationsValidator /> if we have two in the form  all the validation is doubled  *@
    @*qqq maybe should cascade throughtout?*@
<CascadingValue Value="@EditContext">
    <ValidationSummary  class="error-message--margin-bottom-1 nhsuk-error-message field-validation-valid nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-3" />
</CascadingValue>
@* }
else  *@
@if (FormModel.HasModelStateValidationErrors)
{
    @*if no js and errors*@
    <div id="@AspFor-error" class="nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-3">
        <div class="alert alert-danger">
            <h2>Validation Errors</h2>
            <ul>
                @foreach (var error in FormModel.ModelStateErrors)
                {
                    <li>
                        @error.Key:
                        <ul>
                            @foreach (var errorMessage in error.Value)
                            {
                                <li>
                                    <span class="error-message--margin-bottom-1 nhsuk-error-message">
                                        <span class="nhsuk-u-visually-hidden">Error:</span> @errorMessage
                                    </span>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>
        </div>
    </div>
}

