@page "/Attendees/InteractiveWebAssembly-BlazorPage"
@rendermode InteractiveWebAssembly
@inherits GB_PageBase
<PageTitle>@PageTitle</PageTitle>
<h1>@PageTitle</h1>
<LHB_HelloWorld />

@code {
    //Dont really need it to cascade or be setable here but shows it working
    [CascadingParameter] public override string PageTitle { get; set; } = "InteractiveWebAssembly Blazor Page"; // Set this for each page
}