<ol class="life-cycle-stage-list">
    <li class="life-cycle-stage-item">SetParametersAsync</li>
    <li class="life-cycle-stage-item">OnInitialized</li>
    <li class="life-cycle-stage-item">OnInitializedAsync</li>
    <li class="life-cycle-stage-item">OnParametersSet</li>
    <li class="life-cycle-stage-item">OnParametersSetAsync</li>
</ol>