@inherits LayoutComponentBase
@layout _LayoutBlazor
@* @rendermode InteractiveWebAssembly  // added because getting static layout *@

<h3> Render Page Using Render Page Layout Nested Within _MainBlazorLayout</h3>
<div class="renderPageContents" style="border:solid black 5px; padding:10px;">
    @Body
</div>
<p>This layout is in main layout. Its the rendermodepage layout we can switch layouts per user to based on admin - though how compatible this will be with mvc is unclear</p>
<h3>Inside the box is interactive. The box and this test are from one of the layouts. The layout is not interactive currently so only static components can go here</h3>

@code {

}


