@page "/"

<PageTitle>Home</PageTitle>

<h1>This project would both be testing the components in issolation and potentially one page with all, as well as being an example page for viewing them</h1>

Welcome to your new app.
