@model CharactersViewModel
@{

    Microsoft.AspNetCore.Mvc.Rendering.RenderMode renderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Static;
    if (Enum.TryParse(ViewBag.RenderMode, out renderMode))
    {
        // Parsing succeeded
        Console.WriteLine($"Render mode is: {renderMode}");
    }
    else
    {
        // Parsing failed, use a default
        renderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Static; // Default value
        Console.WriteLine("Invalid render mode string, defaulting to Static.");
    }
    string Title = $"Characters Page MVC RenderMode: {ViewBag.RenderMode}";
    ViewData["Title"] = Title;
}
<h1>@Title</h1>


<div class="attendees-wrapper">
    <div class="attendees-form-container">
        <h3 style="margin:10px;text-align:center">"Model.CartoonName"</h3>
        <component type="typeof(LHB_FavouriteCharacterForm)"
                   param-Action=@("Characters/NoJS/SetFavouriteCharacterByForm")
                   param-Characters=@Model.Characters
                   param-LHB_FavouriteCharacterFormModel=@Model.LHB_FavouriteCharacterFormModel
                   param-Label=@("EditFormLabel Here")
                   param-RadioListHint=@("Edit form hint here ")
                   param-IsPageHeading=true
                   render-mode="@renderMode" />
    </div>
</div>


