<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LH.MVCBlazor.Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*     <link rel="stylesheet" href="~/LH.MVCBlazor.Server.styles.css" asp-append-version="true" /> dont have this folder *@
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/nhsuk/nhsuk.css" />
    <link rel="stylesheet" href="~/css/nhsuk/core/all.css" />
    <link rel="stylesheet" href="~/css/SimulatingNHSUK.css" />
    @*     <script src="~/Scripts/nhsuk.js" defer></script> @*qqqq check works*@
    <script src="~/js/nhsuk-9.0.1.min.js" defer></script>
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)" render-mode="ServerPrerendered" /> @* qqqq can we try the webassembly come back to this OR not specify*@
</head>
<body>
    <script>
        /*  we want to know if this browser has js enabled so we can assume thats the case for the whole session and tell blazor it can render js version ones rather than rerendering when it detects js */
        document.cookie = "jsEnabled=true; path=/";
    </script>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        //this one is just for nhsuk components
    </script>
    <header>
        @*qqqq We use the controller options this way, but its shared, could seperate controller and blazor pages*@
           <component type="typeof(NavMenu)" render-mode="Static" />
     @*    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="background-color:pink!important">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LH.MVCBlazor.Server</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 flex-wrap">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MeetingAttendees" asp-action="Index">MeetingAttendees Component</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/BlazorPage">BlazorPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/CharactersBlazorPage">CharactersBlazorPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/InteractiveAutoPage">InteractiveAutoPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/InteractiveServerPage">InteractiveServerPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/InteractiveWebAssemblyPage">InteractiveWebAssemblyPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/StaticServerPage">StaticServerPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/StreamRenderingWeatherPage">StreamRenderingWeatherPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/InteractiveAutoPrerenderFalseWeatherPage">InteractiveAutoPrerenderFalseWeatherPage</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ViewComponentExamplePage" asp-action="Index">ViewComponentExamplePage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/ViewComponentReferenceBlazorComponentPage">ViewComponentReferenceBlazorComponentPage</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <noscript>
                <h1 style=" text-align: center; background-color: yellow;">
                    Psst your on brave JS is turned off
                </h1>
            </noscript>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LH.MVCBlazor.Server - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.web.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
</body>
</html>
