@model AttendeesViewModel
@{

    Microsoft.AspNetCore.Mvc.Rendering.RenderMode renderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Static;
    if (Enum.TryParse(ViewBag.GB_ComponentTagRenderMode, out renderMode))
    {
        // Parsing succeeded
        Console.WriteLine($"Render mode is: {renderMode}");
    }
    else
    {
        // Parsing failed, use a default
        renderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Static; // Default value
        Console.WriteLine("Invalid render mode string, defaulting to Static.");
    }
    ViewData["Title"] = $"Attendees Page MVC RenderMode: {ViewBag.GB_ComponentTagRenderMode}";
}

<component type="typeof(LHB_HelloWorld)" render-mode="WebAssembly" />
<component type="typeof(LHB_HelloWorld)" render-mode="Static" />


<div class="attendees-wrapper">
    <div class="attendees-form-container">
        <h3 style="margin:10px;text-align:center">"Model.MeetingName"</h3>
        <component type="typeof(LHB_Attendees_AddRemoveListForm)"
                   param-UniqueId=@("9")
                   param-ListAttendeesProvidedByView="@Model.Attendees"
                   render-mode="@renderMode" />
    </div>
</div>


