@model AttendeesViewModel
@{

    Microsoft.AspNetCore.Mvc.Rendering.RenderMode renderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Static;
    if (Enum.TryParse(ViewBag.RenderMode, out renderMode))
    {
        // Parsing succeeded
        Console.WriteLine($"Render mode is: {renderMode}");
    }
    else
    {
        // Parsing failed, use a default
        renderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode.Static; // Default value
        Console.WriteLine("Invalid render mode string, defaulting to Static.");
    }
    string Title = $"Attendees Page MVC RenderMode: {ViewBag.RenderMode}";
    ViewData["Title"] = Title;
}
<h1 class="mvcHosted">@Title</h1>

<component type="typeof(LHB_Attendees_AddRemoveListForm)"
            param-newAttendee="@Model.LH_AttendeeFormModel"
            render-mode="@renderMode"/>
            @* param-ListAttendeesProvidedByView="@Model.Attendees" 

            For speed could use this whist load. 
            Or it could be for passing back and forth part finished data like when validating 
            But if the service is providing state not the component then this doesnt work.
                    
            *@



<component type="typeof(T_ShowEveryWhere)" render-mode="WebAssemblyPrerendered" />
