@page "/InteractiveWebAssemblyPage-BlazorPage"
@rendermode InteractiveWebAssembly
@inherits NHSBlazorPageBase
<PageTitle>@PageTitle</PageTitle>
<h1>@PageTitle</h1>
<PageTestComponent />

@code {
    //Dont really need it to cascade or be setable here but shows it working
    [CascadingParameter] public override string PageTitle { get; set; } = "InteractiveWebAssembly Blazor Page"; // Set this for each page
}